/*
Loader.css
NAME
    Loader.css
SYNOPSIS
    Styles for the loading page.
DESCRIPTION
    Configures the layout and animation for a loading page. Includes a centered spinner animation to indicate loading status. The spinner has a specific color scheme and rotation effect to create a visual loading indicator.
RETURNS
    CSS styles for a centered loading spinner with rotation animation, designed to occupy the full height of the viewport and provide a visual cue for loading processes.
*/


.loadingPage {
    height: 90vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  .loadingCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    border-top: 10px solid rgb(34, 34, 34);
    border-bottom: 10px solid rgb(32, 23, 23);
    animation: loading 1s linear infinite;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }