/*
CommentCard.css
NAME
    CommentCard.css
SYNOPSIS
    Styles for user comments section.
DESCRIPTION
    Configures the layout and appearance of user comments. Ensures a flexible layout with centered alignment for profile images and links. Adds interactive hover effects and styles for buttons.
RETURNS
    CSS styles for displaying user comments with profile images, links, and buttons. Includes hover effects for links and custom styling for buttons.
*/


.commentUser {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.507);
  }
  
  .commentUser > a {
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    align-items: center;
    align-self: flex-start;
    transition: all 0.5s;
  }
  .commentUser img {
    height: 3vmax;
    width: 3vmax;
    margin: 1vmax;
    border-radius: 100%;
    border: 3px solid rgb(255, 201, 201);
  }
  
  .commentUser > a:hover {
    transform: translateY(-10px);
  }
  
  .commentUser > button {
    color: red;
  }