/*
NotFound.css
NAME
    NotFound.css
SYNOPSIS
    Styles for the 404 Not Found page.
DESCRIPTION
    Configures the layout and appearance of the 404 Not Found page. The page is centered with a white container displaying a prominent error icon. The container is styled with rounded corners and padding for a clean look. Includes responsive design adjustments for smaller screens to ensure proper display on mobile devices.
RETURNS
    CSS styles for a clear and user-friendly 404 error page, with responsive design considerations for mobile devices.
*/

.notFound {
    height: 100vh;
    background-color: #862633;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .notFoundContainer {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .notFoundContainer > svg {
    font-size: 5vmax;
  }
  
  .notFoundContainer > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
  }
  
  @media screen and (max-width: 600px) {
    .notFoundContainer {
      width: 100%;
    }
  }