/* Header.css */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
   
   background-color: black;

;
  }
  
  .header > a {
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax 4vmax;
  }
  .header > a > svg {
    font-size: 2vmax;
    transition: all 0.5s;
    color: #cb123d;
    font-style: bold;
  }
  
  .header > a > svg:hover {
    color: #F5C24A;
    transform: scale(1.2);
  }
  
  @media screen and (max-width: 600px) {
    .header > a {
      width: 8vw;
      height: 8vw;
      margin: 2vw 8vw;
    }
    .header > a > svg {
      font-size: 8vw;
    }
  }