/*
Search.css
NAME
    Search.css
SYNOPSIS
    Styles for the search page.
DESCRIPTION
    Configures the layout, styling, and responsive design for the search form and results display. Ensures the search form is centered and visually appealing on both desktop and mobile devices. Adjusts input field styling and form layout for different screen sizes.
RETURNS
    CSS styles for a user-friendly and responsive search page, with appropriate spacing and alignment for search forms and results.
*/


.search {
    height: 100vh;
    background-color: #862633;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .searchForm {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchForm > input {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
  }
  
  .searchResults {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 2vmax;
    box-sizing: border-box;
    margin: 2vmax;
  }
  
  @media screen and (max-width: 600px) {
    .searchForm {
      width: 100%;
    }
  
    .searchForm > input {
      padding: 4vw 8vw;
      margin: 2vmax;
      font: 100 1.2rem "Roboto", sans-serif;
      margin: 4vw;
    }
  }